#
# ld65.cfg
#
MEMORY {
    ZP:     start = $0000, size = $100,  type = rw;
    HEADER: start = $0000, size = $10,   type = ro, file = %O, fill = yes, fillval = $00;
    ROM:    start = $8000, size = $8000, type = ro, file = %O, fill = yes, fillval = $FF;
}

SEGMENTS {
    ZEROPAGE: load = ZP,     type = zp;
    HEADER:   load = HEADER, align = $10,   type = ro;
    CODE:     load = ROM,    align = $8000, type = ro, optional = no;
    VECTORS:  load = ROM,    start = $FFFA, type = ro, optional = no;
    RODATA:   load = ROM,    type = ro;
}

FILES {
    %O: format = bin;
}
